<div class="f b column-4 mt10" id="move">
    <div class="item bg-white">
        <span class="icon-calendar-plus-solid bg-green icon"></span>
        <div class="te">
            <p>A Receber Hoje</p>
            <span>0,00</span>
        </div>
    </div>
    <div class="item bg-white">
        <span class="icon-thumbs-up-solid bg-blue icon"></span>
        <div class="te">
            <p>Receber em Atraso</p>
            <span>0,00</span>
        </div>
    </div>
    <div class="item bg-white">
        <span class="icon-calendar-minus-solid bg-yellow icon"></span>
        <div class="te">
            <p>A Pagar Hoje</p>
            <span>0,00</span>
        </div>
    </div>
    <div class="item bg-white">
        <span class="icon-thumbs-down-solid bg-red icon"></span>
        <div class="te">
            <p>Pagos em Atraso</p>
            <span>0,00</span>
        </div>
    </div>
</div>
<div class="f b bg-white mt10 hd70">
    <div class="f">
        <button class="button-white" onclick="ModalOpen('#Lancamento')">Inserir</button>
        <button class="button-white ml10">Excel</button>
        <button class="button-white ml10 f ac"><span>Ações</span> <span class="icon-cheveron-down ml3"></span></button>
    </div>
    <div class="f">
        <input type="text" placeholder="Nome Fantasia" class="w-auto">
        <button class="button-white ml10 f ac"><span>Começa com</span> <span class="icon-cheveron-down ml3"></span></button>
        <input type="text" placeholder="Nome Fantasia" class="w-auto ml10">
        <span class="icon-plus1"></span>
        <button class=" ml10">Pesquisar</button>
    </div>
</div>
<div class="bg-white mt10">
    <table>
        <tr>
            <th><input type="checkbox" name="" id="" class="db"></th>
            <th>-</th>
            <th>Categória</th>
            <th>Vencimento</th>
            <th>Descrição</th>
            <th>Pessoa (Nome Fantasia)</th>
            <th>Valor</th>
            <th>Valor Devido</th>
            <th>Baixado</th>
        </tr>
        <tr>
            <td><input type="checkbox" name="" id="" class="db"></td>
            <td><span class="icon-menu1"></span></td>
            <td>
                <span>1</span>
                <span class="bg-yellow pd2 pl5 pr5 br2">vend.</span>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div class="column-2a f b ac mt15 fs0.8">
        <div class="p-item">
            <p>Página 1 de 1</p>
        </div>
        <div class="p-item f far">
            <a href="#">1</a>
            <a href="#" class="ml10">2</a>
            <a href="#" class="ml10">3</a>
            <a href="#" class="ml10">4</a>
        </div>
    </div>
</div>