<div class="left pd15 t-border" callback="MenuApp()">
    <div class="left-header">
        <span class="icon-menu h" data-open="closed" onclick="OpenMenu(this)"></span>
    </div>
    <div class="menu menu-user">
        <div class="menu-content">
            <sapn class="fs1.4">Lar Maria Clara</span>
        </div>
    </div>
    <div class="menu mt15">
        <div class="menu-title">
            <p>PAINEL</p>
        </div>
        <div class="menu-content">
            <div class="item f ac" id="contas" onclick="to('/contas')">
                <span class="icon-user"></span>
                <p>Contas</p>
            </div>
        </div>
    </div>
    <div class="menu mt15">
        <div class="menu-title">
            <p>PRINCIPAL</p>
        </div>
        <div class="menu-content">
            <div class="item f ac" id="moradores" onclick="to('/moradores')">
                <span class="icon-user"></span>
                <p>Moradores</p>
            </div>
            <div class="item f ac" id="curadores" onclick="to('/curadores')">
                <span class="icon-users"></span>
                <p>Curadores</p>
            </div>
        </div>
    </div>
    <div class="menu mt15">
        <div class="menu-title">
            <p>FINANCEIRO</p>
        </div>
        <div class="menu-content">
            <div class="item f ac" id="movimentacoes" onclick="to('/movimentacoes')">
                <span class="icon-multiline_chart"></span>
                <p>Movimentações</p>
            </div>
            <div class="item f ac" id="categorias" onclick="to('/categorias')">
                <span class="icon-layout"></span>
                <p>Categórias</p>
            </div>
            <div class="item f ac" id="contasbancarias" onclick="to('/contasbancarias')">
                <span class="icon-credit-card"></span>
                <p>Contas bancárias</p>
            </div>
        </div>
    </div>
    <div class="menu mt20">
        <div class="menu-title">
            <p>COMPLMENTOS</p>
        </div>
        <div class="menu-content">
            <div class="item f ac" id="graficos" onclick="to('/graficos')">
                <span class="icon-chart-area-outline"></span>
                <p>Gráficos</p>
            </div>
        </div>
    </div>
</div>
