<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<div id="app" data-id="" class="f b" callback="Auth()">
    <%- include('Theme/Left') %>
    <div class="right">
        <div class="right-body">
            <div class="pd20">
                <%- include(view) %>
            </div>
        </div>
    </div>
</div>
<%- include('Modals/Modalbox') %>

