*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

video, img, button{
    display: block;
}

a{
    text-decoration: none;
}

svg{
    width: 60px;
}