.form-group input[type='text'],
.form-group input[type='password'],
.form-group textarea{
    padding: 10px;
    width: 100%;
}

.t2 .form-group{
    width: 48%;
}

.t3 .form-group{
    width: 32%;
}

.t4 .form-group{
    width: 24%;
}

.t2, .t3, .t4{
    display: flex;
    justify-content: space-between;
}