#MODALBOX{
    opacity: 0
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    background-color: #0d6efd !important;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1 !important;
    transition: 0.5s
}

.modal-content{
    width: 420px;
    background-color: #fff;
    border-radius: 8px;
}

.modal-body, .modal-footer{
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.modal-header, .modal-footer{
    padding: 30px;
    background-color: #f7f7f7;
    position: relative;
    text-align: center;
}

.modal-header{
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.modal-footer{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 1px solid #ccc;
    padding: 10px !important;
    padding-bottom: 20px !important;
}

button{
    width: auto !important;
}

.modal-header span{
    font-size: 1.5em
}

.modal-header .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.8em;
    color: #003DE4;
    cursor: pointer;
}


.sub{
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 0.75em !important;
}

.sub a{
    font-weight: bold
}

#Await{
    background-color: unset !important;
    color: #fff;
}